# Copyright (C) 2009 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[library "mysqlDriver"]
  name = MySQL Connector/J 5.1.42
  url = https://repo1.maven.org/maven2/mysql/mysql-connector-java/5.1.42/mysql-connector-java-5.1.42.jar
  sha1 = 80a448a3ec2178b649bb2e3cb3610fab06e11669
  remove = mysql-connector-java-.*[.]jar

[library "mariadbDriver"]
  name = MariaDB Connector/J 2.0.2
  url = https://repo1.maven.org/maven2/org/mariadb/jdbc/mariadb-java-client/2.0.2/mariadb-java-client-2.0.2.jar
  sha1 = 36ab24223b0e915e6d81c98856d73c47628a31c1
  remove = mariadb-java-client-.*[.]jar

[library "oracleDriver"]
  name = Oracle JDBC driver 11g Release 2 (11.2.0)
  url = file:///u01/app/oracle/product/11.2.0/xe/jdbc/lib/ojdbc6.jar
  sha1 = 2f89cd9176772c3a6c261ce6a8e3d0d4425f5679
  remove = ojdbc6.jar

[library "db2Driver"]
  name = DB2 Type 4 JDBC driver (10.5)
  url = file:///opt/ibm/db2/V10.5/java/db2jcc4.jar
  sha1 = 9344d4fd41d6511f2d1d1deb7759056495b3a39b
  needs = db2DriverLicense
  remove = db2jcc4.jar

# Omit SHA-1 for license JAR as it's not stable and depends on the product
# the customer has purchased.
[library "db2DriverLicense"]
  name = DB2 Type 4 JDBC driver license (10.5)
  url = file:///opt/ibm/db2/V10.5/java/db2jcc_license_cu.jar
  remove = db2jcc_license_cu.jar

[library "hanaDriver"]
  name = HANA JDBC driver
  url = file:///usr/sap/hdbclient/ngdbc.jar
  remove = ngdbc.jar
