/**
 * This file has been produced by downloading this file on July 8, 2022:
 * https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0..1,0
 The corresponding ttf file was downloaded on July 8, 2022 from:
 * https://fonts.gstatic.com/s/materialsymbolsoutlined/v26/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzHVJU22ZZLsYEpzC_1ver5Y0J1Llf.woff2
 */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(../fonts/material-icons.woff2) format('woff2');
}
