# TODO(davido): Migrate all dependencies from WORKSPACE to MODULE.bazel
# https://issues.gerritcodereview.com/issues/303819949
common --noenable_bzlmod

build --workspace_status_command="python3 ./tools/workspace_status.py"
build --repository_cache=~/.gerritcodereview/bazel-cache/repository
build --action_env=PATH
build --disk_cache=~/.gerritcodereview/bazel-cache/cas

# Define configuration using remotejdk_17, executes using remotejdk_17 or local_jdk
build:build_shared --java_language_version=17
build:build_shared --java_runtime_version=remotejdk_17
build:build_shared --tool_java_language_version=17
build:build_shared --tool_java_runtime_version=remotejdk_17

# Builds using remotejdk_17, executes using remotejdk_17 or local_jdk
# Avoid warnings for non default configurations:
# build --config=build_shared
build --java_language_version=17
build --java_runtime_version=remotejdk_17
build --tool_java_language_version=17
build --tool_java_runtime_version=remotejdk_17

# Builds and executes on Google GCP RBE using remotejdk_17
build:remote --config=config_gcp
build:remote --config=build_shared

# Define remote configuration alias
build:remote_gcp --config=remote

# Builds and executes on BuildBuddy RBE using remotejdk_17
build:remote_bb --config=config_bb
build:remote_bb --config=build_shared

# Builds using remotejdk_21, executes using remotejdk_21 or local_jdk
build:build_java21_shared --java_language_version=21
build:build_java21_shared --java_runtime_version=remotejdk_21
build:build_java21_shared --tool_java_language_version=21
build:build_java21_shared --tool_java_runtime_version=remotejdk_21

build:java21 --config=build_java21_shared

# Builds and executes on RBE using remotejdk_21
build:remote21 --config=config_gcp
build:remote21 --config=build_java21_shared

# Define remote21 configuration alias
build:remote21_gcp --config=remote21

# Builds and executes on BuildBuddy RBE using remotejdk_11
build:remote21_bb --config=config_bb
build:remote21_bb --config=build_java21_shared

# Enable modern C++ features
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Enable strict_action_env flag to. For more information on this feature see
# https://groups.google.com/forum/#!topic/bazel-discuss/_VmRfMyyHBk.
# This will be the new default behavior at some point (and the flag was flipped
# shortly in 0.21.0 - https://github.com/bazelbuild/bazel/issues/7026). Remove
# this flag here once flipped in Bazel again.
build --incompatible_strict_action_env

build --announce_rc

test --build_tests_only
test --test_output=errors

import %workspace%/tools/remote-bazelrc

# User-specific .bazelrc
try-import %workspace%/user.bazelrc
