build --workspace_status_command=./tools/workspace-status.sh --strategy=Closure=worker
build --repository_cache=~/.gerritcodereview/bazel-cache/repository
build --experimental_strict_action_env
build --action_env=PATH --experimental_google_legacy_api
build --disk_cache=~/.gerritcodereview/bazel-cache/cas
build --java_toolchain //tools:error_prone_warnings_toolchain

test --build_tests_only
test --test_output=errors

import tools/remote-bazelrc
