[submodule "plugins/commit-message-length-validator"]
	path = plugins/commit-message-length-validator
	url = ../plugins/commit-message-length-validator

[submodule "plugins/download-commands"]
	path = plugins/download-commands
	url = ../plugins/download-commands

[submodule "plugins/replication"]
	path = plugins/replication
	url = ../plugins/replication

[submodule "plugins/reviewnotes"]
	path = plugins/reviewnotes
	url = ../plugins/reviewnotes

[submodule "plugins/singleusergroup"]
	path = plugins/singleusergroup
	url = ../plugins/singleusergroup
