[project]
	description = Gerrit - Web Based Code Review
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group tools-owners
[access "refs/heads/*"]
	push = group tools-owners
	label-Code-Review = -2..+2 group tools-gerrit-reviewers
	label-Code-Review = -2..+2 group tools-gerrit-submitters
	label-Code-Review = -2..+2 group tools-owners
	label-Verified = -1..+1 group tools-gerrit-hudson
	label-Verified = -1..+1 group tools-gerrit-reviewers
	label-Verified = -1..+1 group tools-gerrit-submitters
	label-Verified = -1..+1 group tools-gerrit-verifiers
	label-Verified = -1..+1 group tools-owners
	submit = group tools-gerrit-submitters
	submit = group tools-owners
[access "refs/tags/*"]
	pushTag = group tools-owners
