[project]
	description = Gerrit Code Review
	state = active
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/heads/*"]
	push = group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group gerrit-verifiers
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gerritcodereview-maintainers@googlegroups.com
	abandon = group gerrit-verifiers
	editTopicName = +force group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/tags/*"]
	pushTag = group google/gerritcodereview-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
[access "refs/heads/master"]
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
