[project]
	description = Gerrit Code Review
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group gerrit-trusted-contributors
	label-Code-Style = -1..+1 group gerrit-trusted-contributors
	label-Verified-Notedb = -1..+1 group gerrit-trusted-contributors
	label-Library-Compliance = -1..+1 group gerrit-lib
	label-Library-Compliance = -1..+0 group google/gerritcodereview-maintainers@googlegroups.com
	submit = group Change Owner
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gerritcodereview-maintainers@googlegroups.com
	abandon = group gerrit-trusted-contributors
	editTopicName = +force group google/gerritcodereview-maintainers@googlegroups.com
	removeReviewer = group google/gerritcodereview-maintainers@googlegroups.com
	publishDrafts = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/tags/*"]
	create = group gerrit-release-creators
	create = group google/gerritcodereview-maintainers@googlegroups.com
	createTag = group gerrit-release-creators
	createTag = group google/gerritcodereview-maintainers@googlegroups.com
	createSignedTag = group gerrit-release-creators
	createSignedTag = group google/gerritcodereview-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
[receive]
	rejectImplicitMerges = true
[reviewer]
	enableByEmail = true
[label "Verified"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Code-Style"]
	function = NoBlock
	value = -1 Wrong Style or Formatting
	value = 0 No score
	value = +1 Style Verified
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE
[label "Library-Compliance"]
	function = NoBlock
	value = -1 Do not submit
	value = 0 No score
	value = +1 Approved
	defaultValue = 0
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE
[access "refs/for/refs/meta/dashboards/*"]
	push = group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/meta/dashboards/*"]
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group gerrit-trusted-contributors
	label-Verified = -1..+1 group google/gerritcodereview-maintainers@googlegroups.com
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Style = -1..+1 group google/gerritcodereview-maintainers@googlegroups.com
[access "refs/for/refs/meta/config"]
	push = group gerrit-trusted-contributors
[access "refs/heads/infra/config"]
	push = group gerrit-tricium-admins
[access "^refs/heads/.*-2020-11.notedb-refs-tags$"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	delete = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	forgeServerAsCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
[access "^refs/heads/.*-issue-13858$"]
        create = group google/gerritcodereview-maintainers@googlegroups.com
        delete = group google/gerritcodereview-maintainers@googlegroups.com
        forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
        forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
        forgeServerAsCommitter = group google/gerritcodereview-maintainers@googlegroups.com
        push = +force group google/gerritcodereview-maintainers@googlegroups.com
[access "^refs/heads/stable-3.*-2021-07$"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	delete = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	forgeServerAsCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	push = +force group google/gerritcodereview-maintainers@googlegroups.com
[access "^refs/heads/stable-.*-issue-15563$"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
	forgeCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	forgeServerAsCommitter = group google/gerritcodereview-maintainers@googlegroups.com
	push = group google/gerritcodereview-maintainers@googlegroups.com
[notify "polygerrit-reviews"]
	header = cc
	email = polygerrit-reviews@google.com
	type = all_comments
	type = submitted_changes
	filter = file:polygerrit-ui
[submit-requirement "Code-Style"]
	description = Code has correct style and format
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Code-Style=MAX AND -label:Code-Style=MIN
	canOverrideInChildProjects = false
[submit-requirement "Library-Compliance"]
	description = Changes to specific library/metadata files require additional approval
	applicableIf = -branch:refs/meta/config AND (file:\"^lib/.*\" OR file:\"^WORKSPACE$\" OR file:\"^.gitmodule$\" OR file:\"^tools/deps.bzl$\")
	submittableIf = label:Library-Compliance=MAX AND -label:Library-Compliance=MIN
	canOverrideInChildProjects = false
[submit-requirement "Release-Notes"]
	description = Changes must include a 'Release-Notes' footer with a single sentence to mention in the release notes. Changes not worth mentioning in the release notes should put 'Release-Notes: skip'
	applicableIf = -branch:refs/meta/config AND -hasfooter:\"Release-Notes\" AND -is:pure-revert
	submittableIf = hasfooter:\"Release-Notes\"
	canOverrideInChildProjects = false
[submit-requirement "Change-Is-Forward-Compatible"]
	description = Changes to NoteDb or entities packages require careful consideration. Make sure your change is forward compatible and add the footer 'Forward-Compatible: checked' to your commit message
	applicableIf = -branch:refs/meta/config AND (file:\"^java/com/google/gerrit/server/notedb/.*\\\\.java$\" OR file:\"^java/com/google/gerrit/entities/.*\\\\.java$\")
	submittableIf = hasfooter:\"Forward-Compatible\"
	canOverrideInChildProjects = false
[submit-requirement "ghareeb-test"]
	applicableIf = branch:^refs/heads/ma.*
	submittableIf = false
