[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygerrit2 = "*"
requests = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
