.gwtexpui-ProgressBar {
  position: relative;
  border: 1px solid #6B90DA;
  height: 20px;
  width: 200px;
}

.gwtexpui-ProgressBar-Text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 200px;
  padding-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: smaller;
}

.gwtexpui-ProgressBar-Bar {
  background: #F0F7F9;
  border-right: 1px solid #D0D7D9;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
}
