#gerrit_body {
  font-size: 11pt;
  padding-left: 5px;
  padding-right: 5px;
  width: 98%;
}

#gerrit_topmenu {
  font-size: 9pt;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
}
#gerrit_endtopmenu {
  clear: both;
  height: 5px;
  border-bottom: 1px solid #B0BDCC;
}


/** Widgets **/
.gerrit-Hyperlink {
  text-decoration: underline;
}


/** Menu **/
.gerrit-LinkMenuBar .gwt-MenuItem {
  font-size: 9pt;
  color: #0000AA;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.gerrit-LinkMenuBar .gwt-MenuItem-NormalItem {
  border-right: 1px solid black;
}
.gerrit-LinkMenuBar .gwt-MenuItem-LastItem {
}
.gerrit-FillMenuCenter {
  width: 100%;
}
.gwt-MenuItem .gwt-Hyperlink {
  font-size: 9pt;
  white-space: nowrap;
}
.gerrit-MenuBarUserName {
  font-size: 9pt;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

/** RPC Status **/
.gerrit-RpcStatusPanel {
  position: absolute;
  left: 50%;
  float: left;
}

.gerrit-RpcStatus {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
}

.gerrit-RpcStatus-Loading {
  background: #FFF1A8;
}


/** Error Dialog **/

.gerrit-ErrorDialog {
  margin: 10px 10px 10px 10px;
}

.gerrit-ErrorDialog-ErrorType {
  font-weight: bold;
  white-space: nowrap;
  margin-bottom: 15px;
}

.gerrit-ErrorDialog-ErrorMessage {
}

.gerrit-ErrorDialog-Buttons {
  width: 100%;
  margin-top: 15px;
  text-align: right;
}


/** Screen **/
.gerrit-Screen {
}

.gerrit-Screen h1 {
  white-space: nowrap;
  font-size: 16pt;
  margin: 3px 0 8px;
}


/** ChangeTable **/

.gerrit-ChangeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.gerrit-ChangeTable-IconCell {
  width: 1px;
  padding: 0px;
  vertical-align: center;
  border-bottom: 1px solid #d4e9a9;
}

.gerrit-ChangeTable-DataCell {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #d4e9a9;
  border-bottom: 1px solid #d4e9a9;
}

.gerrit-ChangeTable-C_ID {
	width: 3.5em;
  text-align: right;
}

.gerrit-ChangeTable-IconHeader {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #d4e9a9;
}

.gerrit-ChangeTable-DataHeader {
  border: 1px solid white;
  padding: 2px 6px 1px;
  background-color: #d4e9a9;
  font-style: italic;
  white-space: nowrap;
}

.gerrit-ChangeTable-SectionHeader {
  border-top: 8px solid white;
  padding: 2px 6px 1px;
  background-color: #d4e9a9;
  white-space: nowrap;
  font-weight: bold;
}

.gerrit-ChangeTable-EmptySection {
  border-right: 1px solid #d4e9a9;
  border-bottom: 1px solid #d4e9a9;
  font-style: italic;
  padding-left: 25px;
}


/** Change **/

.gerrit-ChangeScreen .gwt-DisclosurePanel .header td {
	font-weight: bold;
}

.gerrit-ChangeScreen-Description {
	white-space: pre;
	font-family: Courier New, Courier, monospace;
	font-size: small;
}

.gerrit-InfoTable {
  border-collapse: collapse;
  border-spacing: 0;
}

.gerrit-InfoTable td {
  border-left: 1px solid #d4e9a9;
  border-bottom: 1px solid #d4e9a9;
  padding: 2px 6px 1px;
}

.gerrit-InfoTable td.header {
  background-color: #d4e9a9;
  border-left: 1px solid white;
  font-weight: normal;
  padding: 2px 4px 0 6px;
  font-style: italic;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.gerrit-InfoTable td.leftmost  {
}

.gerrit-InfoTable td.rightmost  {
  border-right: 1px solid #d4e9a9;
}

.gerrit-InfoTable td.approvalrole {
	width: 5em;
	border-left: none;
  font-style: italic;
}

.gerrit-InfoTable td.approvalscore {
	text-align: center;
}
.gerrit-InfoTable td.negscore {
  color: red;
}
.gerrit-InfoTable td.posscore {
	color: #08a400;
}

.gerrit-InfoTable td.approvalhint {
  background-left: 1px none;
  background-bottom: 1px none;
  border: none;
  color: #444444;
}
