#gerrit_body {
  font-family: Arial,Verdana,sans-serif;
  font-size: 11pt;
  padding-left: 5px;
  padding-right: 5px;
  width: 98%;
}

#gerrit_topmenu {
  font-family: Arial,Verdana,sans-serif;
  font-size: 9pt;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#gerrit_endtopmenu {
	clear: both;
	height: 5px;
  border-bottom: 1px solid #B0BDCC;
}


/** Widgets **/
.gerrit-Hyperlink {
	text-decoration: underline;
}


/** Menu **/
.gerrit-LinkMenuBar .gwt-MenuItem {
  font-family: Arial,Verdana,sans-serif;
  font-size: 9pt;
	color: #0000AA;
  text-decoration: underline;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.gerrit-LinkMenuBar .gwt-MenuItem-NormalItem {
  border-right: 1px solid black;
}
.gerrit-LinkMenuBar .gwt-MenuItem-LastItem {
}
.gerrit-FillMenuCenter {
	width: 100%;
}
.gwt-MenuItem .gwt-Hyperlink {
  font-family: Arial,Verdana,sans-serif;
  font-size: 9pt;
  white-space: nowrap;
}


/** RPC Status **/
.gerrit-RpcStatusPanel {
  position: absolute;
  left: 50%;
  float: left;
}

.gerrit-RpcStatus {
	padding-top: 4px;
  padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
  text-align: center;
  font-weight: bold;
}

.gerrit-RpcStatus-Loading {
  background: #FFF1A8;
}


/** Screen **/
.gerrit-Screen {
}

.gerrit-Screen h1 {
  white-space: nowrap;
	font-size: 16pt;
  margin: 3px 0 8px;
}


/** ChangeTable **/

.gerrit-ChangeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.gerrit-ChangeTable td {
  border-bottom: 1px solid #d4e9a9;
  border-right: 1px solid #d4e9a9;
}

.gerrit-ChangeTable-ColumnHeader {
  border: 1px solid white;
  padding: 2px 6px 1px;
  background-color: #d4e9a9;
  white-space: nowrap;
}

.gerrit-ChangeTable-ColumnID {
	text-align: right;
}

.gerrit-ChangeTable-SectionHeader {
  border-top: 8px solid white;
	padding: 2px 6px 1px;
	background-color: #d4e9a9;
  white-space: nowrap;
	font-weight: bold;
}

.gerrit-ChangeTable-EmptySectionRow {
	border: none;
	font-style: italic;
	padding-left: 25px;
}