[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = { version = "==20.8b1", markers = "python_version >= '3.8'" }
flake8 = { version = "==3.8.4", markers = "python_version >= '3.8'" }

[packages]
jinja2 = { version = "==2.11.3", markers = "python_version >= '3.8'" }
pygerrit2 = { version = "==2.0.13", markers = "python_version >= '3.8'" }

[requires]
python_version = "3.8"
