<!--
Copyright (C) 2016 The Android Open Source Project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../behaviors/rest-client-behavior.html">
<link rel="import" href="gr-ajax.html">
<link rel="import" href="gr-request.html">

<dom-module id="gr-change-actions">
  <template>
    <style>
      :host {
        display: block;
      }
      .primary {
        background-color: #448aff;
        color: #fff;
      }
      button:before {
        content: attr(data-label);
      }
      button {
        background-color: #f1f2f3;
        border: 1px solid #aaa;
        border-radius: 2px;
        cursor: pointer;
        font: inherit;
        padding: .5em .75em;
      }
      button[loading] {
        cursor: wait;
        opacity: .5;
      }
      button[loading]:before {
        content: attr(data-loading-label);
      }
      button[disabled] {
        background-color: #555961;
        opacity: .5;
      }
    </style>
    <gr-ajax id="actionsXHR"
        url="[[_computeRevisionActionsPath(changeNum, patchNum)]]"
        last-response="{{_revisionActions}}"
        loading="{{_loading}}"></gr-ajax>
    <div>
      <template is="dom-repeat" items="[[_computeActionValues(actions, 'change')]]" as="action">
        <button title$="[[action.title]]"
            class$="[[_computeButtonClass(action.__key)]]"
            hidden$="[[!action.enabled]]"
            data-action-key$="[[action.__key]]"
            data-label$="[[action.label]]"
            on-tap="_handleActionTap"></button>
      </template>
      <template is="dom-repeat" items="[[_computeActionValues(_revisionActions, 'revision')]]" as="action">
        <button title$="[[action.title]]"
            class$="[[_computeButtonClass(action.__key)]]"
            disabled$="[[!action.enabled]]"
            data-action-key$="[[action.__key]]"
            data-label$="[[action.label]]"
            data-loading-label$="[[_computeLoadingLabel(action.__key)]]"
            on-tap="_handleActionTap"></button>
      </template>
    </div>
  </template>
  <script>
  (function() {
    'use strict';

    // TODO(davido): Add the rest of the change actions.
    var ChangeActions = {
      ABANDON: 'abandon',
      RESTORE: 'restore',
    };

    // TODO(andybons): Add the rest of the revision actions.
    var RevisionActions = {
      SUBMIT: 'submit',
    };

    Polymer({
      is: 'gr-change-actions',

      /**
       * Fired when the change should be reloaded.
       *
       * @event reload-change
       */

      properties: {
        actions: {
          type: Object,
        },
        changeNum: String,
        patchNum: String,
        _loading: {
          type: Boolean,
          value: true,
        },
        _revisionActions: {
          type: Object,
        },
      },

      behaviors: [
        Gerrit.RESTClientBehavior,
      ],

      observers: [
        '_actionsChanged(actions, _revisionActions)',
      ],

      reload: function() {
        if (!this.changeNum || !this.patchNum) {
          return Promise.resolve();
        }
        return this.$.actionsXHR.generateRequest().completes;
      },

      _actionsChanged: function(actions, revisionActions) {
        this.hidden = revisionActions.submit == null &&
            actions.abandon == null &&
            actions.restore == null;
      },

      _computeRevisionActionsPath: function(changeNum, patchNum) {
        return this.changeBaseURL(changeNum, patchNum) + '/actions';
      },

      _getValuesFor: function(obj) {
        return Object.keys(obj).map(function(key) {
          return obj[key];
        });
      },

      _computeActionValues: function(actions, k) {
        var result = [];
        var values = this._getValuesFor(
            k == 'change' ? ChangeActions : RevisionActions);
        for (var a in actions) {
          if (values.indexOf(a) == -1) { continue; }
          actions[a].__key = a;
          result.push(actions[a]);
        }
        return result;
      },

      _computeLoadingLabel: function(action) {
        return {
          'submit': 'Submitting...',
        }[action];
      },

      _computeButtonClass: function(action) {
        return action == 'submit' ? 'primary' : '';
      },

      _handleActionTap: function(e) {
        e.preventDefault();
        var el = Polymer.dom(e).rootTarget;
        var key = el.getAttribute('data-action-key');
        if (this._getValuesFor(RevisionActions).indexOf(key) > -1) {
          this._fireRevisionAction('/' + key, this._revisionActions[key]);
        } else {
          this._fireChangeAction('/' + key, this.actions[key]);
        }
      },

      _fireChangeAction: function(endpoint, action) {
        this._send(action.method, {}, endpoint).then(
          function() {
            this.fire('reload-change', null, {bubbles: false});
          }.bind(this)).catch(function(err) {
            alert('Oops. Something went wrong. Check the console and bug the ' +
                'PolyGerrit team for assistance.');
            throw err;
          });
      },

      _fireRevisionAction: function(endpoint, action) {
        var buttonEl = this.$$('[data-action-key="' + action.__key + '"]');
        buttonEl.setAttribute('loading', true);
        buttonEl.disabled = true;

        this._send(action.method, {}, endpoint, true).then(
          function() {
            this.fire('reload-change', null, {bubbles: false});
            buttonEl.setAttribute('loading', false);
            buttonEl.disabled = false;
          }.bind(this)).catch(function(err) {
            alert('Oops. Something went wrong. Check the console and bug the ' +
                'PolyGerrit team for assistance.');
            buttonEl.setAttribute('loading', false);
            buttonEl.disabled = false;
            throw err;
          });
      },

      _send: function(method, payload, actionEndpoint, revisionAction) {
        var xhr = document.createElement('gr-request');
        this._xhrPromise = xhr.send({
          method: method,
          url: this.changeBaseURL(this.changeNum,
              revisionAction ? this.patchNum : null) + actionEndpoint,
          body: payload,
        });

        return this._xhrPromise;
      },
    });
  })();
  </script>
</dom-module>
