{%extends "admin_base.html"%}
{%block title1%}Unverified CLAs{%endblock%}
{%block body%}

<h2>Unverified CLAs</h2>

<table class="change-list">
<tr>
  <th>Email Address</th>
  <th>Name</th>
  <th>Created</th>
</tr>
{%for u in unverified_users%}
<tr>
  <td><a href="{%url codereview.people.admin_user u.email%}">{{u.email}}</td>
  <td>{{u.real_name}}</td>
  <td>{{u.created}}</td>
</tr>
{%endfor%}
<tr>
  <th colspan="3" style="text-align: right;">
  {%if next_email%}
    <a href="{%url codereview.people.admin_unverified_clas%}?first={{next_email}}">Next {{next_size}} &gt;</a>
  {%endif%}
  </th>
</tr>
</table>

{%endblock%}
