{%extends "admin_base.html"%}
{%block title1%}Users{%endblock%}
{%block body%}

<script>
function user_button_submit() {
  var email = document.getElementById('straight_to_user').value;
  url = '/admin/user/' + email;
  document.getElementById('straight_to_user_form').action = url;
}
</script>
<form id="straight_to_user_form" style="margin: 15px;" onsubmit="user_button_submit()">
  <input type="text" id="straight_to_user" />
  <input type="submit" value="Edit user"/>
</form>

<h2>Users</h2>

<div class="change-list" style="width: inherit;">
  <table id="queues" style="width: inherit;">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {%for user in users%}
    <tr>
        <td>{{user.real_name}}</td>
        <td><a href="{%url codereview.people.admin_user user.email%}">{{user.email}}</a></td>
    </tr>
    {%endfor%}
  </table>
</div>

{%endblock%}
