{%extends "admin_base.html"%}
{%block title1%}Users{%endblock%}
{%block body%}

<h2>Users</h2>

<script>
function user_button_submit() {
  var email = document.getElementById('straight_to_user').value;
  url = '/admin/user/' + email;
  document.getElementById('straight_to_user_form').action = url;
}
</script>
<form id="straight_to_user_form" style="margin: 15px;" onsubmit="user_button_submit()">
  <label for="straight_to_user">Email Address:</label>
  <input type="text" id="straight_to_user" />
  <input type="submit" value="Edit User"/>
</form>

{%endblock%}
