{%extends "changes_base.html"%}

{%block body%}
  <div class="top_table">
  <h1>
    {%include "change_star.html"%}
    <a id="upCL" href="{%url codereview.views.show change.key.id%}"
               onmouseover="M_showPopUp(this, 'popup-change');">
            Change {{change.key.id}}</a>:
    {{change.subject|truncatewords:11}} {{change|closed_label}}
  </h1>
  </div> <!-- top_table -->

  {%block change_body%}BODY GOES HERE{%endblock%}

{%endblock%}


{%block popup%}
  {%if change%}
    <div class="top_table">
    <div class="popup" id="popup-change">
      <b>Change {{change.key.id}}: {{change.subject|truncatewords:11}}
      {{change|closed_label}}</b><br/>
      Created {{change.created|timesince}} ago by {{change.owner|real_name}}<br/>
      Modified {{change.modified|timesince}} ago<br/>
      Reviewers: {{change.reviewers|real_names}}<br/>
      Comments: {{change.num_comments}}
      {%if change.num_drafts%} <span style="color: red;">+
	{{change.num_drafts}} drafts</span>{%endif%}
    </div>
    </div> <!-- top_table -->
  {%endif%}
{%endblock%}
