<tr
    class="pagedrow-{{change.paginate_row_type}}"
    {%if change.num_drafts%}style="color:red"{%endif%}
    name="change">
  <td class="selection"><img src="/static/closedtriangle.gif"
            style="visibility: hidden;" width="12" height="9" /></td>
  <td class="star" width="17" align="center">{%include "change_star.html"%}</td>
  <td class="id" align="right"><div class="subject"><a class="noul"
         href="{%url codereview.views.show change.key.id%}">{{change.key.id}}</a>
     </div>
  </td>
  <td><a href="{%url codereview.views.show change.key.id%}">
        {{change.subject|truncatewords:11}}</a> {{change|closed_label}}</td>
  <td><div>{{change.owner|show_user}}</div></td>
  <td><div>{{change.reviewers|show_users}}</div></td>
  <td>{%firstof change.num_comments%}
      {%if change.num_drafts%}
        <span style="color:red">+
          {{change.num_drafts}} draft{{change.num_drafts|pluralize}}
        </span>
      {%endif%}
  </td>
  <td>{{change.modified|abbrevtimesince}}</td>
</tr>
