{%extends "base.html" %}

{%block mainmenu2 %}
  <div class="left_nav_box">
  <h4>Code Reviews</h4>
  {%if user %}
  <ul>
    <li><a href="{%url codereview.views.mine %}">My Changes</a></li>
    <li><a href="{%url codereview.views.unclaimed %}">Unclaimed Changes</a></li>
    <li><a href="{%url codereview.views.all %}">Recent Changes</a></li>
    <li><a href="{%url codereview.views.starred %}">Starred Changes</a></li>
  </ul>
  {%else%}
  <ul>
    <li><a href="{%url codereview.views.index %}">Recent Changes</a></li>
    <li id="signin-link">
      <a class="novisit" href="{{sign_in}}">Sign in</a> with your
      <a href="https://www.google.com/accounts/NewAccount">Google Account</a>
      to add comments.
    </li>
  </ul>
  {%endif%}
  </div><!-- div class="left_nav_box" -->
{%endblock%}

