{%extends "change_base.html"%}
{%block title1%}Edit Change -{%endblock%}
{%block change_body%}
<form action="{%url codereview.views.edit change.key.id%}"
      method="post" id="edit-form">
<table>
{{form}}
<tr><td><input type="submit" value="Update Change"></td></tr>
</table>
</form>

<a id="resizer" style="display:none;cursor:pointer">
<img src="/static/zippyplus.gif"></a>
<script language="JavaScript" type="text/javascript"><!--
M_addTextResizer_(document.getElementById("edit-form"));
--></script>

<p>
<ul>
<li>Owner: {{change.owner|show_user}}
<li>Created: {{change.created|date:"Y/m/d H:i:s"}}
<li>Last updated: {{change.modified|date:"Y/m/d H:i:s"}}
</ul>
</p>

<h2>Delete This Change</h2>

<form action="{{del_url}}" method="post">
{{del_url|form_xsrf}}
<input type="submit" value="Delete Change"> There is no undo!
</form>

{%endblock%}
