{%extends "changes_base.html"%}

{%block title1%}{{title}} -{%endblock%}

{%block body%}

<script language="JavaScript" type="text/javascript"><!--
function keyPressIntermediary(evt) {
  return M_dashboardKeyPress(evt);
}
document.onkeypress = keyPressIntermediary;
-->
</script>


<h1>{{title}}</h1>

<div>
  {%if newest%}
    <a class="novisit" href="{{newest}}">&laquo; Newest</a>
  {%endif%}
  {%if prev%}
    <a class="novisit" href="{{prev}}">&lsaquo; Newer</a>
  {%endif%}
  <b>{{first}}{%if last%} - {{last}}{%endif%}</b>
  {%if next%}<a class="novisit" href="{{next}}">Older &rsaquo;</a>
  {%else%}<span style="color:gray">Older &rsaquo;</span>{%endif%}
</div>

{{changes}}

<script language="JavaScript" type="text/javascript"><!--
var dashboardState = new M_DashboardState(window,'change');
-->
</script>
{%endblock%}
