<tr>
  <td>{%if patch.status%}{{patch.status}}{%endif%}</td>
  <td>
    <a class="noul"
       href="{%url codereview.views.diff change.key.id,patch.patchset.key.id,patch.id%}"
      >{{patch.filename}}
    </a>
  </td>
  <td>{%comment%}{%for other in patchsets%}{%ifnotequal other patchset%}{%for opatch in other.patches%}{%ifequal opatch.filename patch.filename%}{%ifnotequal opatch.patch_hash patch.patch_hash%}
  <a href="/{{change.key.id}}/diff2/{{other.key.id}}:{{patchset.key.id}}/{{patch.id}}" title="Delta from patch set {{forloop.parentloop.counter}}">{{forloop.parentloop.counter}}</a>&nbsp;{%endifnotequal%}{%endifequal%}{%endfor%}{%endifnotequal%}{%endfor%}
  {%endcomment%}
  </td>
  <td>
    {%if patch.num_comments or patch.num_drafts%}<b>{%endif%}
      {{patch.num_comments}} comment{{patch.num_comments|pluralize}}
      {%if patch.num_drafts%}
      <span style="color:red">+
        {{patch.num_drafts}} draft{{patch.num_drafts|pluralize}}
      </span>
    {%endif%}
    {%if patch.num_comments or patch.num_drafts%}</b>{%endif%}
  </td>
  <td>
    <a href="{%url codereview.views.patch change.key.id,patch.patchset.key.id,patch.id%}">
      View
    </a>
  </td>
  <td>
    <a href="{%url codereview.views.download_patch change.key.id,patch.patchset.key.id,patch.id%}"
       title="Download patch for {{patch.filename}}">
      Download
    </a>
  </td>
</tr>
