{%extends "change_base.html"%}
{%block title1%}{%if can_edit %}Edit{%else%}Add{%endif%} Reviewers -{%endblock%}
{%block change_body%}
<h2>{%if can_edit %}Edit{%else%}Add{%endif%} Reviewers</h2>

<div>
  <form action="{%url codereview.views.reviewers change.key.id%}"
        method="post" id="publish-form">

{{form.xsrf}}
{%if form.xsrf.errors%}
<ul>
  {%for e in form.xsrf.errors%}
    <li>{{e}}</li>
  {%endfor%}
</ul>
{%endif%}

  <table class="publish_table">

  <tr class="first"><th>Reviewers</th><td>{{form.reviewers}}</td></tr>
  <tr class="last"><th>Message<br/>
        <font style="font-weight: normal;">(only sent to<br/>
            reviewers that<br/>
            you add)
        </th><td><pre>{{fixed_message}}</pre>
      {{form.message}}</td></tr>

  <tr class="buttons"><td></td>
    <td>
      <input type="submit" value="Save">
      &nbsp;
      {{form.send_mail}} Send mail to new reviewers
    </td>
  </tr>
  </table>
  </form>

  <a id="resizer" style="display:none;cursor:pointer">
  <img src="/static/zippyplus.gif"></a>
  <script language="JavaScript" type="text/javascript"><!--
  M_addTextResizer_(document.getElementById("publish-form"));
  --></script>

</div>
{%if preview%}
<div style="margin-top: 3em;">
  <h3>Unpublished Drafts:</h3>
  <pre class="description">{{preview|wordwrap:"80"|urlize}}</pre>
</div>
{%endif%}
<div style="clear:both"></div>

{%endblock%}
