<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <resource-ref>
    <res-ref-name>jdbc/ReviewDb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <filter>
    <filter-name>UrlRewrite</filter-name>
    <filter-class>com.google.gerrit.server.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewrite</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CacheControl</filter-name>
    <filter-class>com.google.gerrit.server.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheControl</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Gerrit</servlet-name>
    <servlet-class>com.google.gerrit.server.HostPageServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gerrit</servlet-name>
    <url-pattern>/Gerrit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.google.gerrit.server.LoginServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ssh</servlet-name>
    <servlet-class>com.google.gerrit.server.ssh.SshServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssh</servlet-name>
    <url-pattern>/ssh_info</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccountService</servlet-name>
    <servlet-class>com.google.gerrit.server.AccountServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountService</servlet-name>
    <url-pattern>/rpc/AccountService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccountSecurity</servlet-name>
    <servlet-class>com.google.gerrit.server.AccountSecuritySrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSecurity</servlet-name>
    <url-pattern>/rpc/AccountSecurity</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GroupAdminService</servlet-name>
    <servlet-class>com.google.gerrit.server.GroupAdminServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupAdminService</servlet-name>
    <url-pattern>/rpc/GroupAdminService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeDetailService</servlet-name>
    <servlet-class>com.google.gerrit.server.ChangeDetailServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDetailService</servlet-name>
    <url-pattern>/rpc/ChangeDetailService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeListService</servlet-name>
    <servlet-class>com.google.gerrit.server.ChangeListServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeListService</servlet-name>
    <url-pattern>/rpc/ChangeListService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PatchDetailService</servlet-name>
    <servlet-class>com.google.gerrit.server.PatchDetailServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatchDetailService</servlet-name>
    <url-pattern>/rpc/PatchDetailService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SuggestService</servlet-name>
    <servlet-class>com.google.gerrit.server.SuggestServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestService</servlet-name>
    <url-pattern>/rpc/SuggestService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SystemInfoService</servlet-name>
    <servlet-class>com.google.gerrit.server.SystemInfoServiceSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemInfoService</servlet-name>
    <url-pattern>/rpc/SystemInfoService</url-pattern>
  </servlet-mapping>
</web-app>
