[container]
  javaOptions= "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance -Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"

[auth]
  type = DEVELOPMENT_BECOME_ANY_ACCOUNT

[elasticsearch]
  prefix = gerrit_
  server =  http://es-server:9200/
  username = elastic
  numberOfShards = 1
  numberOfReplicas = 3

[gerrit]
  serverId = 87dc5b5b-e6b6-4c73-98ad-e0e307770165
  installIndexModule = com.google.gerrit.elasticsearch.ElasticIndexModule

[index]
  maxPageSize = 25000
  maxTerms = 16000
  pageSizeMultiplier = 10
  paginationType = SEARCH_AFTER

[sendemail]
  enable = false

[noteDb "changes"]
  disableReviewDb = true
  primaryStorage = NOTE_DB
  read = true
  write = true

[sshd]
  listenAddress = *:29418
  threads = 32
  batchThreads = 0
  waitTimeout = 3600
  enableChannelIdTracking = false
