# Systemd unit file for gerrit

[Unit]
Description=Gerrit Code Review
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/gerritsrv/
Environment=GERRIT_HOME=/opt/gerritsrv/gerrit/ JAVA_HOME=/opt/jdk1.8.0_45/
ExecStart=/usr/bin/java -Xmx1024m -jar ${GERRIT_HOME}/bin/gerrit.war daemon -d ${GERRIT_HOME}
User=gerritsrv
SyslogIdentifier=GerritCodeReview
StandardInput=socket

[Install]
WantedBy=multi-user.target
